<header class="header-bar">
  <div class="header-content">
    <nav class="breadcrumb-nav" *ngIf="breadcrumbs.length > 0">
      <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
          <a routerLink="/" class="breadcrumb-link">
            <i class="fa fa-home"></i>
          </a>
        </li>
        @for (breadcrumb of breadcrumbs; track breadcrumb.url; let isLast =
        $last) {
        <li class="breadcrumb-item">
          <span class="breadcrumb-separator">
            <i class="fa fa-chevron-right"></i>
          </span>
          @if (!isLast) {
          <a [routerLink]="breadcrumb.url" class="breadcrumb-link">
            {{ breadcrumb.label }}
          </a>
          } @else {
          <span class="breadcrumb-current">{{ breadcrumb.label }}</span>
          }
        </li>
        }
      </ol>
    </nav>

    <div class="user-profile" *ngIf="currentUser">
      <button
        class="profile-button"
        (click)="toggleProfileMenu()"
        [class.active]="showProfileMenu"
      >
        <div class="user-avatar">{{ getUserInitials() }}</div>
        <div class="user-info">
          <span class="user-name"
            >{{ currentUser.first_name }} {{ currentUser.last_name }}</span
          >
          <span class="user-role">Account Holder</span>
        </div>
        <i
          class="fa fa-chevron-down dropdown-icon"
          [class.rotated]="showProfileMenu"
        ></i>
      </button>

      @if (showProfileMenu) {
      <div class="profile-menu">
        <div class="profile-menu-header">
          <div class="profile-avatar-large">{{ getUserInitials() }}</div>
          <div class="profile-info">
            <p class="profile-name">
              {{ currentUser.first_name }} {{ currentUser.last_name }}
            </p>
            <p class="profile-email">{{ currentUser.username }}</p>
          </div>
        </div>
        <div class="profile-menu-divider"></div>
        <nav class="profile-menu-nav">
          <a
            routerLink="/user-profile"
            class="profile-menu-item"
            (click)="closeProfileMenu()"
          >
            <i class="fa fa-user-circle"></i>
            <div class="item-content">
              <span class="item-label">My Profile</span>
              <span class="item-description">View and edit your profile</span>
            </div>
          </a>
          <a class="profile-menu-item" (click)="openSettings()">
            <i class="fa fa-cog"></i>
            <div class="item-content">
              <span class="item-label">Settings</span>
              <span class="item-description">Manage preferences</span>
            </div>
          </a>
          <a
            routerLink="/security"
            class="profile-menu-item"
            (click)="closeProfileMenu()"
          >
            <i class="fa fa-shield-halved"></i>
            <div class="item-content">
              <span class="item-label">Security</span>
              <span class="item-description">Password and 2FA</span>
            </div>
          </a>
        </nav>
        <div class="profile-menu-divider"></div>
        <div class="profile-menu-footer">
          <ub-button [fluid]="true" variant="error" (click)="logout()">
            <i class="fa fa-arrow-right-from-bracket"></i>
            <span>Sign Out</span>
          </ub-button>
        </div>
      </div>
      }
    </div>
  </div>
</header>

@if (showProfileMenu) {
<div class="profile-menu-backdrop" (click)="closeProfileMenu()"></div>
}
